:root {
  --primary-color: #2541b2;

  --line-color-light: #ebedef;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
}

input,
textarea {
  font-family: 'Noto Sans KR', sans-serif;
}

h1,
p,
ul,
ol,
dl,
dd {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover:not(.gnb__menu li a, .btn, .btn--primary) {
  text-decoration: underline;
}

a:visited .news__title,
.trending__title:visited {
  color: #909090;
}

button:hover {
  cursor: pointer;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.title {
  margin-bottom: 15px;
}

/* 텍스트 속성 */
.text__sm {
  font-size: 13px !important;
}

/* 버튼 */
.btn {
  display: inline-block;
  box-sizing: border-box;
  width: 80px;
  height: 36px;
  border-radius: 3px;
  border: 0px;
  color: var(--primary-color);
  background-color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 34px;
}

.btn--primary {
  display: inline-block;
  box-sizing: border-box;
  width: 80px;
  height: 36px;
  border-radius: 3px;
  border: 0px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 34px;
}

.btn__sm--primary {
  display: inline-block;
  box-sizing: border-box;
  width: 55px;
  height: 28px;
  border-radius: 3px;
  border: 0px;
  background: var(--primary-color);
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.btn--link {
  padding: 0;
  border: 0;
  background: none;
  font-weight: bold;
  font-size: 15px;
  color: var(--primary-color);
}

.btn--link:hover {
  text-decoration: underline;
}

.btn--primary,
.btn__sm--primary {
  position: relative;
}

.btn--primary::before,
.btn__sm--primary::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0);
  transition: background cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}

.btn--primary:hover::before,
.btn__sm--primary:hover::before {
  display: block;
  background: rgba(255, 255, 255, 0.2);
}

/* form 관련 속성 */
.input {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  width: 100%;
  height: 32px;
  padding: 7px;
  outline: none;
  transition: ease-in 0.1s border;
}

.input__sm {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  width: 100%;
  height: 28px;
  padding: 7px;
  outline: none;
  transition: ease-in 0.1s border;
}

.input:hover,
.input:focus,
.input__sm:hover,
.input__sm:focus,
.textarea:hover,
.textarea:focus {
  border-color: #191919;
}

.input-group label {
  display: inline-block;
  margin-bottom: 3px;
}

.input-group {
  display: block;
  margin-bottom: 10px;
}

.input--error {
  border-color: #9f3a38;
  background-color: #fff4f4;
}

.input--error:hover,
.input--error:focus {
  border-color: #9f3a38;
}

.msg--error {
  margin-top: 1px;
  font-size: 14px;
  color: #9f3a38;
}

.textarea {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  width: 100%;
  height: 60px;
  padding: 10px;
  outline: none;
  font-size: 13px;
  transition: ease-in 0.1s border;
  resize: none;
}

/* 레이아웃 : layout */
.wrap::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  background: #dbdbdb;
}

.header,
.gnb,
.wrap--main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrap--main {
  display: flex;
}

.main,
.aside {
  padding-top: 20px;
}

.main {
  width: 70%;
  margin-top: 10px;
  padding-right: 30px;
}

.aside {
  position: relative;
  width: 30%;
  padding-left: 20px;
}

.aside section {
  padding: 10px;
}

.aside::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 100%;
  left: 0;
  top: 0;
  background: #dbdbdb;
}

/* 모달 */
.wrap--modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal {
  position: fixed;
  display: flex;
  width: 600px;
  min-height: 480px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}

.modal__sm {
  position: fixed;
  display: flex;
  width: 300px;
  min-height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}

.modal__sm .modal__contents {
  width: 100%;
}

.modal__sm .modal__title {
  padding: 0;
  border-bottom: 1px solid #f1f3f5;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.modal__aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 260px;
  padding: 70px 25px;
  background: #f1f3f5;
}

.modal__aside h1 {
  font-weight: normal;
  font-size: 30px;
}

.modal__aside img {
  order: -1;
  width: 100%;
  margin-bottom: 10px;
}

.modal__contents {
  width: 70%;
  box-sizing: border-box;
  padding: 40px;
}

.modal__form button {
  margin-top: 20px;
}

.modal__title {
  font-weight: normal;
  font-size: 25px;
  padding: 20px 0 30px;
}

.modal__close-btn {
  height: 0;
  border: 0;
  background-color: transparent;
}

.modal__close-btn::before {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  padding: 10px;
  content: '';
  width: 30px;
  height: 30px;
  background: url(../image/icon/close.png) center center no-repeat;
  background-size: 30px;
}

.modal-t-enter-active,
.modal-t-leave-active {
  transition: opacity 0.3s;
}

.modal-t-leave-active {
  transition: opacity 0.3s ease 0.3s;
}

.modal-t-enter,
.modal-t-leave-to {
  opacity: 0;
}

.modal-t-enter .modal,
.modal-t-leave-to .modal {
  opacity: 0;
}

.modal-t-enter-active .modal,
.modal-t-leave-active .modal {
  transition: opacity 0.3s;
}

/* 아이콘 */
.icon__comment,
.icon__like,
.icon__time {
  position: relative;
  padding-left: 15px;
}

.icon__comment span,
.icon__like span {
  padding-left: 10px;
}

.icon__time::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  padding: 0 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(../image/icon/clock.svg) no-repeat center;
  background-size: 12px;
}

.icon__comment::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  top: 50%;
  padding: 0 2px;
  transform: translate(-50%, -50%);
  background: url(../image/icon/comment.svg) no-repeat center;
  background-size: 12px;
}

.icon__like::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  top: 50%;
  padding: 0 2px;
  transform: translate(-50%, -50%);
  background: url(../image/icon/heart.svg) no-repeat center;
  background-size: 12px;
}
