@media (max-width: 700px) {
  .main {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .aside {
    display: none;
  }

  /* 모달 */
  .wrap--modal {
    background: rgba(255, 255, 255, 0.4);
  }

  .modal,
  .modal__sm {
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100vw;
    height: 100vh;
  }

  .modal__contents {
    width: 100%;
  }

  .modal__aside {
    order: 1;
    width: 100%;
    text-align: end;
    background: none;
    margin-top: auto;
  }

  .modal__aside img,
  .modal__aside h1 {
    display: none;
  }
}
